{{ form_start(search_form) }}
    {{ form_widget(search_form) }}
<div class="d-flex justify-content-center">
  <button class="btn btn-secondary ">rechercher</button>
</div>

{{ form_end(search_form) }}
