{% extends 'base.html.twig' %}

{% block title %}Edit Shoes{% endblock %}

{% block body %}
    <h1>Edit Shoes</h1>

    {{ include('admin/shoes/_form.html.twig', ) }}

    <a href="{{ path('app_admin_shoes_index') }}">back to list</a>

  <div>  {{ include('admin/shoes/_delete_form.html.twig') }}
    </div>
{% endblock %}
